.image{
  width: 100%;
  height: 100%;
}
.img {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7)),url("../images/banner-image.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}